body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #ffe4ec, #f8f8ff);
    text-align: center;
}

/* HEADER */
header {
    background-color: #ff4f8b;
    color: white;
    padding: 20px;
}

/* HERO */
.hero {
    padding: 20px;
}

/* APP BOX */
.app {
    background: white;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
}

/* INPUTS */
input, select {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* BUTTON */
button {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #ff4f8b;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #e03e75;
}

/* LISTA */
ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ffe4ec;
    margin: 8px 0;
    padding: 10px;
    border-radius: 10px;
}

/* CONTACTO */
.contacto {
    margin: 20px;
}

/* FOOTER */
footer {
    background: #333;
    color: white;
    padding: 10px;
    margin-top: 20px;
}